$cBlack: #23272b;
$cLightGrey: #edf2f7;
$cWhite: #fff;
$cBlue: #2781ef;
$cDarkBlue: #175197;
$cGreen: #23d26d;
$cRed: #d73333;
$cYellow: #f5e139;

/*------------------------------------*\
    #ROOT, ELEMENTS AND GENERICS
\*------------------------------------*/

.body {
  background: $cBlue;
}
hr {
  background-color: #edf2f7 !important;
  color: #edf2f7 !important;
  height: 2px;
}
a {
  color: #2781ef !important;
}
.increase {
  color: #27ef7c;
  font-weight: bold;
}  
.decrease {
  color: #f53939;
  font-weight: bold;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.box {
  background: white;
  border-bottom: 4px solid #175197;
}
.icon-wrap {
  display: inline-block;
  margin-right: 5px;
  width: 16px;
  height: 16px;

  img {
    margin-top: 2px;
  }
}

/*------------------------------------*\
    #HEADER
\*------------------------------------*/
.header-row {
  margin-top: 10px !important;
  margin-bottom: 20px !important;
}
.header-subrow {
  width: 600px !important;
  background: $cDarkBlue;
}
.header-subheader {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 18px;
  color: $cWhite;
}

/*------------------------------------*\
    #FOOTER
\*------------------------------------*/
.footer-section {
  hr {
    margin: 20px 0;
    height: 1px;
    background-color: #4f98f1 !important;
    color: #4f98f1 !important;
  }
  a {
    color: $cWhite !important;
    text-decoration: underline;
  }
  .section-title {
    font-size: 14px;
  }
  .text-center-for-small:first-of-type {
    margin-bottom: 0;
  }
}
.footer-title {
  margin-bottom: 10px;
  font-size: 18px;
  color: $cWhite;
  text-align: center;
}
.footer-text {
  color: $cWhite;
  text-align: center;

  &:last-of-type {
    margin-bottom: 40px;
  }
}
.footer-columns {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

/*------------------------------------*\
    #SECTION
\*------------------------------------*/
.section-title {
  margin-bottom: 10px;
  font-size: 18px;
}
.section-subtitle {
  font-size: 14px;
}

/*------------------------------------*\
    #HIGHLIGHT
\*------------------------------------*/

.highlight-row {
  .last {
    margin-bottom: 10px;
  }
}
.highlight-number {
  line-height: 18px;
  padding-right: 5px !important;
}
.highlight-label {
  line-height: 18px;
}
.highlight-metric {
  font-weight: bold;
}
.highlight-description {
  padding-top: 10px;
  margin-bottom: 0;
}
.highlight-title {
  vertical-align: middle;
}
.highlight-title-first {
  line-height: 18px;
}
.highlight-title-second {
  line-height: 18px;
}

/*------------------------------------*\
    #KPI
\*------------------------------------*/

.kpi-row {
  vertical-align: middle;

  tr,
  td {
    vertical-align: middle;
  }

  .last {
    margin-bottom: 10px;
  }
}

/*------------------------------------*\
    #METRIC
\*------------------------------------*/
.metric-title {
  text-align: center;
}
.metric-row {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.metrics-section .section-title {
  margin-bottom: 20px;
}
