$cBlack: #23272b;
$cLightGrey: #edf2f7;
$cWhite: #fff;
$cBlue: #2781ef;
$cGreen: #27ef7c;
$cRed: #f53939;
$cYellow: #f5e139;

/*------------------------------------*\
    #ROOT, ELEMENTS AND GENERICS
\*------------------------------------*/

.body {
  background: $cBlue;
}
hr {
  background-color: #edf2f7 !important;
  color: #edf2f7 !important;
  height: 2px;
}
a {
  color: #2781ef !important;
}
.increase {
  color: #27ef7c;
  font-weight: bold;
}  
.decrease {
  color: #f53939;
  font-weight: bold;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.box {
  background: white;
}
.icon-wrap {
  display: inline-block;
  margin-right: 5px;
  width: 16px;
  height: 16px;

  img {
    margin-top: 2px;
  }
}

/*------------------------------------*\
    #HEADER
\*------------------------------------*/
.header-column {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  
  h6 {
    color: $cWhite;
    font-size: 18px;
  }

  p {
    color: $cWhite;
    font-size: 14px;
  }
}

/*------------------------------------*\
    #FOOTER
\*------------------------------------*/
.footer-section {
  .section-title {
    font-size: 14px;
  }
  .text-center-for-small:first-of-type {
    margin-bottom: 0;
  }
}
.footer-columns {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

/*------------------------------------*\
    #SECTION
\*------------------------------------*/
.section-title {
  margin-bottom: 10px;
  font-size: 18px;
}
.section-subtitle {
  font-size: 14px;
}

/*------------------------------------*\
    #HIGHLIGHT
\*------------------------------------*/

.highlight-row {
  .last {
    margin-bottom: 10px;
  }
}
.highlight-number {
  line-height: 18px;
  padding-right: 5px !important;
}
.highlight-label {
  line-height: 18px;
}
.highlight-metric {
  font-weight: bold;
}
.highlight-description {
  padding-top: 10px;
  margin-bottom: 0;
}
.highlight-title {
  vertical-align: middle;
}
.highlight-title-first {
  line-height: 18px;
}
.highlight-title-second {
  line-height: 18px;
}

/*------------------------------------*\
    #KPI
\*------------------------------------*/

.kpi-row {
  .last {
    margin-bottom: 10px;
  }
}
.kpi-operand {
  display: inline-block;
}
.kpi-operation {
  display: inline-block;
  margin: 0 5px;
  font-weight: bold;
}
.kpi-total {
  font-weight: bold;
}

/*------------------------------------*\
    #METRIC
\*------------------------------------*/
.metric-title {
  text-align: center;
}
.metric-row {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.metrics-section .section-title {
  margin-bottom: 20px;
}
