table.row.footer-section
  tr
    td.center(align="center")
      center
        table.container
          tr
            td.wrapper
              table.eight.columns
                tr
                  td
                    h3.section-title Did you know?
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu fringilla nunc, sit amet ultrices ex. Class aptent taciti sociosqu ad litora.
                  td.expander
            td.wrapper.last
              table.four.columns
                tr
                  td
                    p.text-center-for-small
                      | Powered by <a href="http://uphex.com/">UpHex</a>
                    p.text-center-for-small
                      | <a href="https://twitter.com/uphexco">@UpHex</a> | <a href="mailto:support@uphex.com">Contact Support</a>
                  td.expander
