table.row.footer-section
  tr
    td.center(align="center")
      center
        table.container
          tr
            td.wrapper.last.center
              table.ten.columns.footer-columns
                tr
                  td.text-pad
                    h3.footer-title Did you know?
                    p.footer-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu fringilla nunc, sit amet ultrices ex. Class aptent taciti sociosqu ad litora.
                    hr
                    p.footer-text.text-center-for-small
                      | Powered by <a href="http://uphex.com/">UpHex</a>
                    p.footer-text.text-center-for-small
                      | <a href="https://twitter.com/uphexco">@uphexco</a> • <a href="mailto:support@uphex.com">Contact Support</a>
                  td.expander
