table.row.header-section
  tr
    td.center(align="center")
      center
        table.container.header-row
          tr
            td.wrapper.last
              table.twelve.columns
                tr
                  td
                    img(src="assets/logo-white.png", alt="UpHex logo", width="128", height="42")
                  td.expander
  tr
    td.center(align="center")
      center
        table.container.header-subrow
          tr
            td.wrapper.last
              table.twelve.columns
                tr
                  td
                    h6.header-subheader.text-center Weekly Digest for Jul 12 to Jul 18
                  td.expander
