table.row.header-section
  tr
    td.center(align="center")
      center
        table.container
          tr
            td.wrapper.last
              table.twelve.columns
                tr
                  td.six.sub-columns.header-column
                    img(src="assets/logo-white.png", width="128", height="42")
                  td.six.sub-columns.last.header-column
                    h6.text-right Weekly Digest
                    p.text-right Jul 12 – Jul 18
                  td.expander
