table.row
  tr
    td.center(align="center")
      center
        table.container
          tr
            td.wrapper.last
              table.twelve.columns
                tr
                  td.six.sub-columns
                    img(src="assets/logo.png", width="128", height="42")
                  td.six.sub-columns.last
                    h6.text-right Weekly Digest
                    p.text-right July 12-18, 2015
                  td.expander
