mixin highlights-item(logo, title, metric, current, prediction)
  table.highlight-row.row
    tr
      td.wrapper
        table.five.columns
          tr
            td
              h4.section-subtitle
                img.metric-icon(src="assets/#{logo}-icon.png", width="16", height="16")
                = title
            td.expander
      td.wrapper.last
        table.seven.columns
          tr
            td.six.sub-columns
              strong #{current} #{metric}
            td.six.sub-columns.last.text-right
              | #{prediction} expected
            td.expander

table.row.highlights-section
  tr
    td.wrapper.last
      table.twelve.columns
        tr
          td.text-pad
            h3.section-title Highlights
            p.highlight-description These metrics exceeded our expectations last week.
            +highlights-item(
              "facebook",
              "Borrowed & Blue",
              "Page Likes",
              "381",
              "182-321"
            )
            +highlights-item(
              "shopify",
              "Borrowed & Blue",
              "Revenue",
              "381",
              "182-321"
            )
            +highlights-item(
              "twitter",
              "Borrowed & Blue",
              "Followers",
              "540",
              "510-530"
            )
          td.expander