mixin metrics-item(title)
  .metric
    .metric-title= title
    img.metric-chart(src="assets/chart-filler.png", width="145", height="65")

table.row
  tr
    td.wrapper.last
      table.twelve.columns
        tr
          td.text-pad
            h3.section-title Your Metrics
            h4.section-subtitle
              img.kpi-icon(src="assets/ga-icon.png", width="16", height="16")
              | Borrowed & Blue
            table.metric-row.row
              tr
                td.wrapper
                  table.six.columns
                    tr
                      td.six.sub-columns
                        +metrics-item(
                          "Ad Clicks"
                        )
                      td.six.sub-columns.last
                        +metrics-item(
                          "Organic Searches"
                        )
                      td.expander
                td.wrapper.last
                  table.six.columns
                    tr
                      td.six.sub-columns
                        +metrics-item(
                          "Visits"
                        )
                      td.six.sub-columns.last
                        +metrics-item(
                          "Visitors"
                        )
                      td.expander

            h4.section-subtitle
              img.kpi-icon(src="assets/facebook-icon.png", width="16", height="16")
              | Borrowed & Blue
            table.metric-row.row
              tr
                td.wrapper
                  table.six.columns
                    tr
                      td.six.sub-columns
                        +metrics-item(
                          "Impressions"
                        )
                      td.six.sub-columns.last
                        +metrics-item(
                          "Page Links"
                        )
                      td.expander
                td.wrapper.last
                  table.six.columns
                    tr
                      td.six.sub-columns
                        +metrics-item(
                          "Page Visits"
                        )
                      td.six.sub-columns.last
                      td.expander
