mixin metrics-item(title)
  .metric-title= title
  img.metric-chart(src="assets/chart-filler.png", width="145", height="65")

table.row.metrics-section
  tr
    td.wrapper.last
      table.twelve.columns
        tr
          td.text-pad
            h3.section-title Your Metrics
            h4.section-subtitle
              span.icon-wrap
                img(src="assets/facebook-icon.png", width="16", height="16")
              | Bluth Co.
            table.metric-row.row
              tr
                td.wrapper
                  table.six.columns
                    tr
                      td.six.sub-columns.center(align="center")
                        +metrics-item(
                          "Page Visits"
                        )
                      td.six.sub-columns.last.center(align="center")
                        +metrics-item(
                          "Page Likes"
                        )
                      td.expander
                td.wrapper.last
                  table.six.columns
                    tr
                      td.six.sub-columns.center(align="center")
                        +metrics-item(
                          "Impressions"
                        )
                      td.six.sub-columns.last.center(align="center")
                        +metrics-item(
                          "Post Impressions"
                        )
                      td.expander
            h4.section-subtitle
              span.icon-wrap
                img(src="assets/ga-icon.png", width="16", height="16")
              | Bluth Co.
            table.metric-row.row
              tr
                td.wrapper
                  table.six.columns
                    tr
                      td.six.sub-columns.center(align="center")
                        +metrics-item(
                          "Ad Clicks"
                        )
                      td.six.sub-columns.last.center(align="center")
                        +metrics-item(
                          "Organic Searches"
                        )
                      td.expander
                td.wrapper.last
                  table.six.columns
                    tr
                      td.six.sub-columns.center(align="center")
                        +metrics-item(
                          "Visits"
                        )
                      td.six.sub-columns.last.center(align="center")
                        +metrics-item(
                          "Visitors"
                        )
                      td.expander
            a.see-all(href="#") See all
