table.row
  tr
    td.wrapper.last
      table.twelve.columns
        tr
          td.text-pad
            h3.section-title Did you know?
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu fringilla nunc, sit amet ultrices ex. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
          td.expander
