<table class="row">
  <tr>
    <td class="wrapper last">
      <table class="twelve columns">
        <tr>
          <td class="text-pad">
            <h6>@@title</h6>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>